@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color: rgb(77, 78, 76); padding-top: 10px; padding-bottom: 10px; color: rgb(255, 255, 255);">
    <div class="container">
        Du er her: <b>Forside</b>
    </div>
</div>

<!--==========================
   Intro Section
 ============================-->
<section id="intro">
    <div class="intro-content">
        <h2>Få <span>inspiration</span><br>til din undervisning!</h2>
        <div>
            <a href="/" class="btn-get-started scrollto">Læs mere</a>
            <a href="/products" class="btn-projects scrollto">Vores produkter</a>
        </div>
    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

</section><!-- #intro -->

<main id="main">

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>Vi Tilbyder</h2>
                <p>Alle kan læse og skrive med blandt andet CD‑ORD, IntoWords SubReader School, Grammateket og mange flere!</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon"><img style="height:64px; width:64px" src="https://www.mv-nordic.com/wp-content/uploads/2017/11/CDORD_gradient.png" /></div>
                        <h4 class="title"><a href="/products/details/1">CD-ORD</a></h4>
                        <p class="description">Læse- og skriveværktøjet CD-ORD er kendt for at forløse ordblinde børn og voksnes potentiale for at læse, skrive og lære. Programmet afhjælper fejl i skrivning og stavning.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight">
                        <div class="icon"> <img style="height:64px; width:64px" src="https://www.mv-nordic.com/wp-content/uploads/2017/11/INTOWORDS_gradient.png" /></div>
                        <h4 class="title"><a href="/products/details/12">Into Words</a></h4>
                        <p class="description">IntoWords læser tekst op for dig på din computer, tablet eller smartphone. Når du skal skrive, får du hjælp af kontekstbaserede ordforslag, ordprædiktion og stavehjælp.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="icon"> <img style="height:64px; width:64px" src="https://www.mv-nordic.com/wp-content/uploads/2017/11/Logo-SubReader-School-only-icon.png" /></div>
                        <h4 class="title"><a href="/products/details/2">SubReader School</a></h4>
                        <p class="description">Med appen SubReader School sikrer du, at læseudfordrede elever kan følge med i dialogen, når du som lærer bruger udenlandske film og tv-serier i undervisningen. </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight" data-wow-delay="0.2s">
                        <div class="icon"> <img style="height:64px; width:64px" src="https://www.mv-nordic.com/wp-content/uploads/2017/11/grammateket-gradient-150x150.png" /></div>
                        <h4 class="title"><a href="/products/details/4">Grammateket</a></h4>
                        <p class="description">Grammateket kan rette din tekst for fejl i grammatik, sætningsopbygning og tegnsætning. Vil du lære grammatik,kan du dykke ned i programmets forklaringer af rettelser.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #services -->


    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Our Team</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-1.jpg" alt=""></div>
                        <div class="details">
                            <h4>Daviid Bernth</h4>
                            <span>Chief Executive Officer</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-2.jpg" alt=""></div>
                        <div class="details">
                            <h4>Daniel Helmer</h4>
                            <span>Product Manager</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-3.jpg" alt=""></div>
                        <div class="details">
                            <h4>Mathias Bæk</h4>
                            <span>CTO</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-4.jpg" alt=""></div>
                        <div class="details">
                            <h4>Mikkel Bing</h4>
                            <span>Accountant</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #team -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Kontakt os</h2>
                <p>Ønsker du et kursus, et møde eller sidder du inde med spørgsmål om vores programmer? Så giv os et kald. Vi hører meget gerne fra dig.</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Adresse</h3>
                        <address>Vitec MV, Lucernemarken 17, 5260 Odense S</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Telefon nummer</h3>
                        <p><a href="tel:+4565818022">65 91 80 22</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:salg.mv@vitecsoftware.com">salg.mv@vitecsoftware.com</a></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2267.2805676625244!2d10.39687661608553!3d55.37055992887439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464d2065f20f603d%3A0x98b5726e3e3fa810!2sVitec%20MV!5e0!3m2!1sda!2sdk!4v1575368567536!5m2!1sda!2sdk" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="container">
            <div class="form">
                <div id="sendmessage">Din besked er blevet modtaget, mange tak for din besked!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Dit Navn" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Din Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Emne" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Besked"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">Send Besked</button></div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/magnific-popup/magnific-popup.min.js"></script>
<script src="lib/sticky/sticky.js"></script>

<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

